image_tags = {
  "webserver" = "v0.0.1"
  "daemon"    = "v0.0.1"
}
location_image_tags = {
  "el" = "v0.0.1"
  "dbt" = "v0.0.1"
}
root_zone_id = "xxx"
domain_name  = "xxx"
el_env = {
  S3_BUCKET             = "xxx"
  AWS_ACCESS_KEY_ID     = "xxx"
  AWS_SECRET_ACCESS_KEY = "xxx"
  SF_HOST               = "xxx"
  SF_USER               = "xxx"
  SF_PASSWORD           = "xxx"
  SF_ROLE               = "xxx"
  SF_SCHEMA             = "xxx"
  SF_DATABASE           = "xxx"
  SF_WAREHOUSE          = "xxx"
  PARTITIONS_START_DATE = "xxx"
}
dbt_env = {
  DBT_SF_HOST             = "xxx"
  DBT_SF_USER             = "xxx"
  DBT_SF_PASSWORD         = "xxx"
  DBT_SF_ROLE             = "xxx"
  DBT_SF_SCHEMA           = "xxx"
  DBT_SF_DATABASE         = "xxx"
  DBT_SF_WAREHOUSE        = "xxx"
  DBT_EXECUTABLE_PATH = "xxx"
}